p{
    font-size: 30px;
    text-align: center;
    background-color: red;
    padding: 15px;
    color: white;
    font-weight: bold;
    margin: 0;
}

span{
    color: black;
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
}